body {
    background-color: #fff;
    margin:0;
    height:100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: Charcoal, sans-serif;
}

html{
    height:100%;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    }

a {
    text-decoration: none;
    color: blue;
}

.inHeader{
    color: whitesmoke;
}

.containerRow {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.containerColumn {
    display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.post {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.containerList {
    display: flex; /* or inline-flex */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: start;
    align-content: flex-start;
}

header.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: midnightblue;

    margin: auto;
    width: 100%;
}

.input {
    border: 2px solid black;
    border-radius: 4px;
    width: 50%;
}

.loginInput {
    border: 2px solid black;
    border-radius: 4px;
    width: 25%;
}

textarea {
    border: 2px solid black;
    border-radius: 4px;
    width: 50%;
}

.titre {
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

/* Pagination links */
.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;border-radius: 5px;
    background-color: midnightblue;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}




/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    color: white;
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}